<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/milligram.min.css">
  </head>
  <body>
    <div class="container">
    <h2>Overview</h2>
    {% for x in data.values() %}
    <figure>
      <a href="#data-{{ loop.index }}"><img src="{{ x.figname }}"/></a>
    </figure>
    {% endfor %}
    <h2>Full data</h2>
    {% for name, x in data.items() %}
    <h3 id="data-{{ loop.index }}">{{ name }}</h3>
    <table>
      <thead>
        <tr>
          {% for header in x.headers %}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for name in x.names %}
          {% for row in x.data[x.data.name == name].iterrows() %}
          <tr>
            <td>{{ row[1]['name'] }}</td>
            <td>{{ row[1]['elapsed'] | round(3) }}</td>
            {% for elem in row[1][2:] %}
              <td>{{ elem }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
    </div>
  </body>
</html>
